* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.nav-link {
  color: #333;
  text-decoration: none; /* removes underline */
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  color: #333;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
}

.Toastify__toast-container {
  margin-top: 70px;
  padding: 0 12px;
}
